# name: Build and Push Docker Image

# on:
#   push:
#     branches:
#       - main

# jobs:
#   build:
#     runs-on: ubuntu-latest

#     steps:
#     - name: Checkout code
#       uses: actions/checkout@v2

#     - name: Check if version.txt exists and read version
#       id: check_version
#       run: |
#         if [ -f "version.txt" ]; then
#           VERSION=$(cat version.txt)
#           echo "Found version in version.txt: $VERSION"
#           if [[ "$VERSION" =~ ^v[0-9]+\.[0-9]+\.[0-9]+$ ]]; then
#             echo "VERSION=$VERSION" >> $GITHUB_ENV
#           else
#             echo "No valid version in version.txt, skipping build."
#             echo "VERSION=" >> $GITHUB_ENV
#           fi
#         else
#           echo "version.txt not found, skipping build."
#           echo "VERSION=" >> $GITHUB_ENV
#         fi

#     - name: Login DockerHub
#       uses: docker/login-action@v2
#       with:
#         username: ${{ secrets.DOCKER_USERNAME }}
#         password: ${{ secrets.DOCKER_PASSWORD }}
#         echo "Docker Username: ${{ secrets.DOCKER_USERNAME }}"
#         echo "Docker Password: ${{ secrets.DOCKER_PASSWORD }}"

#     - name: Build Docker image
#       run: |
#         if [ -z "${{ env.VERSION }}" ]; then
#           echo "No version found, skipping image build."
#           exit 0
#         fi
#         docker build -t niallchen/track-resume:${{ env.VERSION }} .

#     - name: Push Docker image
#       run: |
#         if [ -z "${{ env.VERSION }}" ]; then
#           echo "No version found, skipping push."
#           exit 0
#         fi
#         docker push niallchen/track-resume:${{ env.VERSION }}
